<div class="page-title">
    <h2>Add a recipe</h2>
    <p class="lead">
    </p>
</div>

<div class="form-stuff">
    <form>
        <div class="form-group">
            <label for="recipe">Attach your recipe</label>
            <textarea required ngModel name="recipe" #recipe="ngModel" id="recipe" cols="1" rows="40" class="form-control" placeholder="Type in your recipe" ></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags (keywords, so your recipes are easier to find</label>
            <textarea required ngModel name="tags" #tags="ngModel" id="tags" cols="1" rows="1" class="form-control" placeholder="Type in your tags" ></textarea>
        </div>
        <button class="btn btn-primary" id="button1" (click)="getData(recipe.value, tags.value)" [disabled]="isDisabled">Add opinion</button>
        <div class="recaptcha-style">
            <app-recaptcha (callParent)="getMsgFromBaby()"></app-recaptcha>
        </div>
    </form>
</div>
