.form-stuff{
    padding-top: 30px;
    padding-right: 800px;
    padding-left: 800px;
}

.form-group{
    padding-bottom: 15px;
}

.btn-primary{
    width: 130px;
    height: 40px;
}

.recaptcha-style{
    padding-top: 20px;
    padding-left: 10px;
}
