<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Food</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favico.ico">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.bead11ddcdb5f3d37e02.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6WQvbBUddYIN5o2wHrk4vJs-ZBT18StY&amp;callback=initMap&amp;libraries=&amp;v=weekly" async=""></script>
<style>body{background-color:#000;font-weight:600;text-align:center!important;color:#fff;}</style></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{{url_for('static', filename='runtime.e1e350f7929275cb893a.js')}}" defer></script>
<script type="text/javascript" src="{{url_for('static', filename='polyfills.c156c5b1516c9cef52c7.js')}}"  defer></script>
<script type="text/javascript" src="{{url_for('static', filename='main.cac84f84844316b1733c.js')}}" defer></script>
</body></html>