.nav-repair{
  padding-left: 44.39%;
}

.map-style{
    height: 500px;
}

.form-stuff{
  padding-top: 30px;
  padding-right: 700px;
  padding-left: 700px;
}

.form-group{
  padding-bottom: 15px;
}

.show-stuff{
  padding-right: 600px;
  padding-left: 600px;
  text-align: left;
  font-size: 120%;
}

.show-opinion{
  height: 180px;
  resize: none;
  border: none;
}

.recaptcha-style{
  padding-top: 20px;
  padding-left: 100px;
}

.searchBar{
  color:black;
  width: 300px;
}

.label-success{
  padding-top: 15px;
  background-color: black;
  color:green;
}

.label-error{
  padding-top: 15px;
  color:red;
}
