<label>settings stuff 1</label>
<br>
<div class="something" >
<input type="button" class='btn' (click)="clicked1e()" [disabled]="test" value="enable">
<input type="button" class='btn' (click)="clicked1d()" [disabled]="!enabled1" value="disable">
</div>
<br>
<label>settings stuff 2</label>
<br>
<div class="something">
<input type="button" class='btn' (click)="clicked2e()" [disabled]="enabled2" value="enable">
<input type="button" class='btn' (click)="clicked2d()" [disabled]="!enabled2" value="disable">
</div>
<br>
<label>settings stuff 3</label>
<br>
<div class="something">
<input type="button" class='btn' (click)="clicked3e()" [disabled]="enabled3" value="enable">
<input type="button" class='btn' (click)="clicked3d()" [disabled]="!enabled3" value="disable">
</div>
<br>
<br>
<br>
<br>
<button class='btn' (click)="clickedSave()" [disabled]="!madeChanges">save</button>
<br>
<br>
<br>

{{message$ | async}}

<button class='btn' (click)='spanishMessage()'>Spanish</button>
<button class='btn' (click)='frenchMessage()'>French</button>

 