<label>settings stuff 1</label>
<br>
<button class='btn' (click)="clicked1e()" [disabled]="enabled1">enable</button>
<button class='btn' (click)="clicked1d()" [disabled]="!enabled1">disable</button>
<br>
<label>settings stuff 2</label>
<br>
<button class='btn' (click)="clicked2e()" [disabled]="enabled2">enable</button>
<button class='btn' (click)="clicked2d()" [disabled]="!enabled2">disable</button>
<br>
<label>settings stuff 3</label>
<br>
<button class='btn' (click)="clicked3e()" [disabled]="enabled3">enable</button>
<button class='btn' (click)="clicked3d()" [disabled]="!enabled3">disable</button>
