<div class="page-title">
    <h2>Login</h2>
    <p class="lead">
    </p>
</div>

<div class="form-stuff">
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" cols="1" rows="1" class="form-control" placeholder="Email" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" cols="1" rows="1" class="form-control" placeholder="Password" >
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>
