<div class="container-fluid">
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" routerLink="">Home</a></li>
        <li><a id="len2" class="hoverable" routerLink="/recipes">Recipes</a></li>
        <li><a id="len3" class="hoverable" routerLink="/add-recipe">Add a recipe</a></li>
        <li><a id="len4" class="hoverable" routerLink="/restaurants">Restaurants</a></li>
        <li><a id="len5" class="hoverable" routerLink="/your-profile">Your Profile</a></li>
        <li><a id="len6" class="hoverable" routerLink="/login">Login</a></li>
        <li><a id="len7" class="hoverable" routerLink="/register">Register</a></li>
        <li><a id="len8" class="hoverable" routerLink="/settings">Settings</a></li>
        <li><a id="len9" class="hoverable" routerLink="/tables">Tables</a></li>
        <li><a id="len10" class="hoverable" routerLink="/buttons">Buttons</a></li>
        </ul>
    </div>
    </nav>
</div>
