<div class="page-title" [hidden]="isLoggedIn">
    <h2>Login first</h2>
    <p class="lead">
    </p>
</div>

<div class="logged_in_form" [hidden]="!isLoggedIn">
    <div class="page-title">
        <h2>Welcome {{usersUsername}}</h2>
        <p class="lead">
        </p>
    </div>
    <button class="btn btn-primary" id="logout" (click)="logout()">Logout</button>
    <br>
    <label class="label-success" id="label-success" [hidden]="labelSuccessHidden">{{labelSuccessText}}</label>
    <label class="label-error" id="label-error" [hidden]="labelErrorHidden">{{labelErrorText}}</label>
</div>
