/* You can add global styles to this file, and also import other style files */ 
/*everything below here is just setting up the page, so dont worry about it */  
  
  @media (min-width: 768px) {
    .navbar{
      text-align: center !important;
      float: none;
      display: inline-block;
    }
  }
  
  body {
    background-color: rgba(0,0,0,1);
    font-weight:600;
    text-align:center !important;
    color: white;
  }
  
  nav {
    background: none !important;
    text-transform:uppercase;
  }
